/* ----- General Styles for All Pages ----- */
body{font-family: "Times New Roman", Times, serif;
     margin: 0; 
     padding: 0; 
     background-color: #f9f9f9;}
h1{font-size: 2.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    letter-spacing: 1px;}
p{font-size: 1.1em;           
  width: 80%;
  margin: 20px auto;
  line-height: 1.6;}
img{ width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 15px;}
body{
  padding-bottom: 40px;
}

/* ----- Xavier (XULA) Theme ----- */
.xula{
  background-color: #000000; /* Black */
  color: #FFD700; /* Gold */
}
.xula p{
  color: #FFFFFF; /* White */
}
.xula h1{
  color :#006400;
  text-shadow: 2px 2px 4px #000000; /* Black shadow */}

/* ----- Dillard Theme ----- */
.dillard{
  background-color: #800000; /* Maroon */
  color: #FFD700; /* Gold */
}
.dillard p{
  color:#4169e1 ; /* White */
}
.dillard h1{
  color: #c0c0c0; /* Yellow */
  text-shadow: 2px 2px 4px #000000; /* Black shadow */}
/* ----- Standard Theme (Me + Morehouse College) ----- */
.me {
  background-color: #ffffff;
  color: #333333;
}

.me h1 {
  color: #222222;
  letter-spacing: 1px;
}

.me p {
  max-width: 700px;
  text-align: justify;
  color: #444444;
}
.morehouse{
 background-color: #800000; 
  color: #f9f9f9; 
}

.morehouse h1 {
  color: #ffffff; /* white heading */
}

.morehouse p {
  color: #ffffff;
  max-width: 700px;
  text-align: justify;
}

/* ----- Navigation Bar Styles ----- */
nav {
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #333333;
  margin: 0 15px;
  font-size: 1.1em;
  font-weight: bold;
}

nav a:hover {
  color: #007bff;
  text-decoration: underline;
}

